## Preprocessing

In [54]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

## Step 1: Preprocess the Data

In [57]:
# 1. Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Variables that are targets for the model: IS_SUCCESSFUL
### Variables that are features for the model: ALL OTHERS

In [58]:
# 2. Drop the non-beneficial ID column 'EIN'
application_df=application_df.drop(['EIN','NAME'],axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Print column names
for col in application_df.columns:
    print(col)

APPLICATION_TYPE
AFFILIATION
CLASSIFICATION
USE_CASE
ORGANIZATION
STATUS
INCOME_AMT
SPECIAL_CONSIDERATIONS
ASK_AMT
IS_SUCCESSFUL

In [37]:
# 3. Determine the number of unique values in each column.
n=application_df.nunique(axis=0)
print(n)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# 4. For columns that have more than 10 unique values, determine the number of data points for each unique value.

In [38]:
# Look at APPLICATION_TYPE value counts for binning
counts_for_binning=application_df['APPLICATION_TYPE'].value_counts()
counts_for_binning

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# 5. Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=list(counts_for_binning[counts_for_binning<500].index)

# Replace in dataframe
for i in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(i,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
counts_classification=application_df["CLASSIFICATION"].value_counts()
counts_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_classification_1=counts_classification[counts_classification>1]
counts_classification_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [42]:
# 5. Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications2replace = list (counts_classification[counts_classification<150].index)
classifications2replace

# Replace in dataframe
for i in classifications2replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(i,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [43]:
# 6. Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [44]:
# 7. Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X=application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [45]:
# 8. Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Step 2: Compile, Train and Evaluate the Model

In [46]:
# 2-6 Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=80
hidden_nodes_layer2=30
hidden_nodes_layer3=1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()
print(number_input_features)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3760

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,221
Trainable params: 6,221
Non-trainable params: 0
_________________________________________________________________
46

In [48]:
# 7a. Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [49]:
# 7b. Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 1ms/step - loss: 0.5744 - accuracy: 0.7173 - val_loss: 0.5521 - val_accuracy: 0.7383
Epoch 2/100
684/684 [==============================] - 1s 989us/step - loss: 0.5554 - accuracy: 0.7284 - val_loss: 0.5484 - val_accuracy: 0.7344
Epoch 3/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5528 - accuracy: 0.7298 - val_loss: 0.5456 - val_accuracy: 0.7359
Epoch 4/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7300 - val_loss: 0.5480 - val_accuracy: 0.7308
Epoch 5/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7300 - val_loss: 0.5446 - val_accuracy: 0.7357
Epoch 6/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7309 - val_loss: 0.5419 - val_accuracy: 0.7349
Epoch 7/100
684/684 [==============================] - 1s 989us/step - loss: 0.5479 - accuracy: 0.7316 - val_loss: 0.5423 - val_accuracy: 0.7357
Epoch 8/100
684/684 [==============================] - 1s 970us/step - loss: 0.5467 - accuracy: 0.7319 - val_loss: 0.5430 - val_accuracy: 0.7357
Epoch 9/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7315 - val_loss: 0.5438 - val_accuracy: 0.7349
Epoch 10/100
684/684 [==============================] - 1s 983us/step - loss: 0.5457 - accuracy: 0.7321 - val_loss: 0.5466 - val_accuracy: 0.7346
Epoch 11/100
684/684 [==============================] - 1s 991us/step - loss: 0.5446 - accuracy: 0.7324 - val_loss: 0.5418 - val_accuracy: 0.7372
Epoch 12/100
684/684 [==============================] - 1s 988us/step - loss: 0.5451 - accuracy: 0.7321 - val_loss: 0.5435 - val_accuracy: 0.7344
Epoch 13/100
684/684 [==============================] - 1s 989us/step - loss: 0.5440 - accuracy: 0.7332 - val_loss: 0.5446 - val_accuracy: 0.7346
Epoch 14/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7336 - val_loss: 0.5441 - val_accuracy: 0.7346
Epoch 15/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7328 - val_loss: 0.5436 - val_accuracy: 0.7336
Epoch 16/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7346 - val_loss: 0.5445 - val_accuracy: 0.7344
Epoch 17/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7343 - val_loss: 0.5441 - val_accuracy: 0.7367
Epoch 18/100
684/684 [==============================] - 1s 980us/step - loss: 0.5427 - accuracy: 0.7341 - val_loss: 0.5420 - val_accuracy: 0.7354
Epoch 19/100
684/684 [==============================] - 1s 956us/step - loss: 0.5420 - accuracy: 0.7341 - val_loss: 0.5429 - val_accuracy: 0.7344
Epoch 20/100
684/684 [==============================] - 1s 981us/step - loss: 0.5423 - accuracy: 0.7343 - val_loss: 0.5435 - val_accuracy: 0.7362
Epoch 21/100
684/684 [==============================] - 1s 987us/step - loss: 0.5418 - accuracy: 0.7351 - val_loss: 0.5407 - val_accuracy: 0.7367
Epoch 22/100
684/684 [==============================] - 1s 979us/step - loss: 0.5412 - accuracy: 0.7344 - val_loss: 0.5442 - val_accuracy: 0.7354
Epoch 23/100
684/684 [==============================] - 1s 985us/step - loss: 0.5413 - accuracy: 0.7350 - val_loss: 0.5443 - val_accuracy: 0.7344
Epoch 24/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7360 - val_loss: 0.5418 - val_accuracy: 0.7391
Epoch 25/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7351 - val_loss: 0.5456 - val_accuracy: 0.7359
Epoch 26/100
684/684 [==============================] - 1s 966us/step - loss: 0.5408 - accuracy: 0.7346 - val_loss: 0.5469 - val_accuracy: 0.7339
Epoch 27/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7366 - val_loss: 0.5438 - val_accuracy: 0.7341
Epoch 28/100
684/684 [==============================] - 1s 995us/step - loss: 0.5402 - accuracy: 0.7349 - val_loss: 0.5450 - val_accuracy: 0.7344
Epoch 29/100
684/684 [==============================] - 1s 974us/step - loss: 0.5405 - accuracy: 0.7364 - val_loss: 0.5435 - val_accuracy: 0.7349
Epoch 30/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7358 - val_loss: 0.5440 - val_accuracy: 0.7346
Epoch 31/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7350 - val_loss: 0.5422 - val_accuracy: 0.7352
Epoch 32/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7354 - val_loss: 0.5438 - val_accuracy: 0.7339
Epoch 33/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7367 - val_loss: 0.5448 - val_accuracy: 0.7331
Epoch 34/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7358 - val_loss: 0.5420 - val_accuracy: 0.7349
Epoch 35/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7365 - val_loss: 0.5440 - val_accuracy: 0.7346
Epoch 36/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7368 - val_loss: 0.5425 - val_accuracy: 0.7336
Epoch 37/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7370 - val_loss: 0.5406 - val_accuracy: 0.7372
Epoch 38/100
684/684 [==============================] - 1s 964us/step - loss: 0.5388 - accuracy: 0.7366 - val_loss: 0.5445 - val_accuracy: 0.7346
Epoch 39/100
684/684 [==============================] - 1s 951us/step - loss: 0.5383 - accuracy: 0.7368 - val_loss: 0.5452 - val_accuracy: 0.7318
Epoch 40/100
684/684 [==============================] - 1s 977us/step - loss: 0.5382 - accuracy: 0.7370 - val_loss: 0.5412 - val_accuracy: 0.7339
Epoch 41/100
684/684 [==============================] - 1s 983us/step - loss: 0.5386 - accuracy: 0.7363 - val_loss: 0.5446 - val_accuracy: 0.7354
Epoch 42/100
684/684 [==============================] - 1s 968us/step - loss: 0.5385 - accuracy: 0.7375 - val_loss: 0.5422 - val_accuracy: 0.7359
Epoch 43/100
684/684 [==============================] - 1s 968us/step - loss: 0.5378 - accuracy: 0.7383 - val_loss: 0.5472 - val_accuracy: 0.7341
Epoch 44/100
684/684 [==============================] - 1s 945us/step - loss: 0.5384 - accuracy: 0.7367 - val_loss: 0.5454 - val_accuracy: 0.7328
Epoch 45/100
684/684 [==============================] - 1s 970us/step - loss: 0.5378 - accuracy: 0.7376 - val_loss: 0.5447 - val_accuracy: 0.7344
Epoch 46/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7382 - val_loss: 0.5426 - val_accuracy: 0.7344
Epoch 47/100
684/684 [==============================] - 1s 968us/step - loss: 0.5377 - accuracy: 0.7378 - val_loss: 0.5423 - val_accuracy: 0.7352
Epoch 48/100
684/684 [==============================] - 1s 967us/step - loss: 0.5376 - accuracy: 0.7381 - val_loss: 0.5449 - val_accuracy: 0.7357
Epoch 49/100
684/684 [==============================] - 1s 971us/step - loss: 0.5378 - accuracy: 0.7388 - val_loss: 0.5428 - val_accuracy: 0.7349
Epoch 50/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7381 - val_loss: 0.5447 - val_accuracy: 0.7354
Epoch 51/100
684/684 [==============================] - 1s 990us/step - loss: 0.5373 - accuracy: 0.7375 - val_loss: 0.5437 - val_accuracy: 0.7362
Epoch 52/100
684/684 [==============================] - 1s 993us/step - loss: 0.5373 - accuracy: 0.7384 - val_loss: 0.5457 - val_accuracy: 0.7344
Epoch 53/100
684/684 [==============================] - 1s 960us/step - loss: 0.5370 - accuracy: 0.7387 - val_loss: 0.5484 - val_accuracy: 0.7328
Epoch 54/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7371 - val_loss: 0.5429 - val_accuracy: 0.7362
Epoch 55/100
684/684 [==============================] - 1s 967us/step - loss: 0.5367 - accuracy: 0.7381 - val_loss: 0.5461 - val_accuracy: 0.7326
Epoch 56/100
684/684 [==============================] - 1s 962us/step - loss: 0.5364 - accuracy: 0.7378 - val_loss: 0.5476 - val_accuracy: 0.7331
Epoch 57/100
684/684 [==============================] - 1s 967us/step - loss: 0.5367 - accuracy: 0.7383 - val_loss: 0.5486 - val_accuracy: 0.7310
Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7380 - val_loss: 0.5453 - val_accuracy: 0.7331
Epoch 59/100
684/684 [==============================] - 1s 955us/step - loss: 0.5364 - accuracy: 0.7376 - val_loss: 0.5445 - val_accuracy: 0.7334
Epoch 60/100
684/684 [==============================] - 1s 967us/step - loss: 0.5368 - accuracy: 0.7389 - val_loss: 0.5417 - val_accuracy: 0.7352
Epoch 61/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7377 - val_loss: 0.5458 - val_accuracy: 0.7372
Epoch 62/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7374 - val_loss: 0.5443 - val_accuracy: 0.7362
Epoch 63/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7390 - val_loss: 0.5476 - val_accuracy: 0.7359
Epoch 64/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7382 - val_loss: 0.5438 - val_accuracy: 0.7349
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7394 - val_loss: 0.5477 - val_accuracy: 0.7367
Epoch 66/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7383 - val_loss: 0.5458 - val_accuracy: 0.7354
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7379 - val_loss: 0.5445 - val_accuracy: 0.7372
Epoch 68/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7377 - val_loss: 0.5488 - val_accuracy: 0.7336
Epoch 69/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7381 - val_loss: 0.5447 - val_accuracy: 0.7354
Epoch 70/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7386 - val_loss: 0.5462 - val_accuracy: 0.7349
Epoch 71/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7389 - val_loss: 0.5491 - val_accuracy: 0.7339
Epoch 72/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7394 - val_loss: 0.5464 - val_accuracy: 0.7339
Epoch 73/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7393 - val_loss: 0.5464 - val_accuracy: 0.7352
Epoch 74/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7383 - val_loss: 0.5464 - val_accuracy: 0.7352
Epoch 75/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7388 - val_loss: 0.5478 - val_accuracy: 0.7339
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7383 - val_loss: 0.5445 - val_accuracy: 0.7341
Epoch 77/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7390 - val_loss: 0.5484 - val_accuracy: 0.7354
Epoch 78/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7382 - val_loss: 0.5484 - val_accuracy: 0.7334
Epoch 79/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7392 - val_loss: 0.5442 - val_accuracy: 0.7357
Epoch 80/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7389 - val_loss: 0.5478 - val_accuracy: 0.7334
Epoch 81/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7379 - val_loss: 0.5459 - val_accuracy: 0.7354
Epoch 82/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7375 - val_loss: 0.5490 - val_accuracy: 0.7339
Epoch 83/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7394 - val_loss: 0.5478 - val_accuracy: 0.7352
Epoch 84/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7389 - val_loss: 0.5483 - val_accuracy: 0.7339
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7389 - val_loss: 0.5488 - val_accuracy: 0.7352
Epoch 86/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7389 - val_loss: 0.5481 - val_accuracy: 0.7346
Epoch 87/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7390 - val_loss: 0.5475 - val_accuracy: 0.7339
Epoch 88/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7393 - val_loss: 0.5444 - val_accuracy: 0.7357
Epoch 89/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7385 - val_loss: 0.5471 - val_accuracy: 0.7339
Epoch 90/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7390 - val_loss: 0.5515 - val_accuracy: 0.7344
Epoch 91/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7397 - val_loss: 0.5481 - val_accuracy: 0.7354
Epoch 92/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7401 - val_loss: 0.5464 - val_accuracy: 0.7359
Epoch 93/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7393 - val_loss: 0.5476 - val_accuracy: 0.7367
Epoch 94/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7392 - val_loss: 0.5493 - val_accuracy: 0.7349
Epoch 95/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7402 - val_loss: 0.5491 - val_accuracy: 0.7352
Epoch 96/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7389 - val_loss: 0.5485 - val_accuracy: 0.7341
Epoch 97/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7395 - val_loss: 0.5494 - val_accuracy: 0.7331
Epoch 98/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7388 - val_loss: 0.5477 - val_accuracy: 0.7375
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7387 - val_loss: 0.5484 - val_accuracy: 0.7336
Epoch 100/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7393 - val_loss: 0.5498 - val_accuracy: 0.7315

In [ ]:
# 8. Create a callback that saves the model's weights every five epochs.

In [51]:
# 9. Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5608 - accuracy: 0.7263 - 181ms/epoch - 674us/step
Loss: 0.5607509016990662, Accuracy: 0.7262973785400391

In [52]:
# Export our model to HDF5 file names "AlphabetSoupCharity_Optimization.h5"
  
from google.colab import files
nn.save('/content/Model_1.h5')
files.download('/content/Model_1.h5')

ModuleNotFoundError: No module named 'google.colab'